<!DOCTYPE html>
<html lang="en">
   <meta charset="UTF-8">
   <title>WK Levelup Kanji</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <style>
      .form-input {
      display: flex;
      }
      input {
      margin-right: 10px;
      }
      #input-level {
      width: 30px;
      }
      #lists {
      display: flex
      }
      .klist {
      margin-right: 30px;
      }
      body {
      display: flex;
      justify-content: center;
      }
   </style>
   <body>
      <script src="https://unpkg.com/vue@3"></script>
      <div id="app">
         <div class="form-input">
            <input v-model="API_TOKEN" id="input-api" type="text" placeholder="API token">
            <input v-model="LEVEL" id="input-level" type="text" placeholder="level">
            <input id="input-go" type="button" value="go" @click="go">
         </div>
         <div id="lists">
            <div class="klist">
               <h3>Unlocked {{unlocked_kanji.length}}</h3>
               <ul>
                  <li v-for="item in unlocked_kanji">{{item[0]}}</li>
               </ul>
            </div>
            <div class="klist">
               <h3>Locked {{locked_kanji.length}}</h3>
               <ul>
                  <li v-for="item in locked_kanji">{{item[0]}}</li>
               </ul>
            </div>
         </div>
      </div>
      <script>
         Vue.createApp({
           data() {
             return {
               message: 'Hello Vue!',
               radicals: {},
               locked_kanji: [],
               unlocked_kanji: [],
               headers: null,
               API_TOKEN: "",
               LEVEL: ""
             }
           },
           methods: {
             go() {
               this.locked_kanji = [];
               this.unlocked_kanji =  [];
               this.headers = new Headers();
               this.headers.append('Content-Type', 'application/json');
               this.headers.append(
                 'Authorization',
                 'Bearer ' + this.API_TOKEN
               );
         
               fetch('https://api.wanikani.com/v2/subjects?&types=radical', {
                   method: 'GET',
                   headers: this.headers
                 })
                 .then(response => {
                   if (!response.ok) throw new Error('HTTP error ' + response.status);
                   return response.json();
                 })
                 .then(json => {
                   json.data.forEach(e => {
                     this.radicals[e.id] = e.data.level;
                   });
                   this.process_kanji();
                 })
                 .catch(function() {
                   console.log('radical Code Error!');
                 });
             },
             process_kanji() {
               fetch('https://api.wanikani.com/v2/subjects?levels=' + this.LEVEL + '&types=kanji', {
                   method: 'GET',
                   headers: this.headers
                 })
                 .then(response => {
                   if (!response.ok) throw new Error('HTTP error ' + response.status);
                   return response.json();
                 })
                 .then(json => {
                   json.data.forEach(e => {
                     let locked = false;
                     e.data.component_subject_ids.forEach(id => {
                       if (this.radicals[id] >= e.data.level) {
                         locked = true;
                       }
                     });
         
                     let kanji_data = [e.data.characters, e.data.meanings[0].meaning, e.data.lesson_position];
                     if (locked) {
                       this.locked_kanji.push(kanji_data);
                     } else {
                       this.unlocked_kanji.push(kanji_data);
                     }
                   });
                 })
                 .catch(function() {
                   console.log('kanji Code Error!');
                 });
             }
           },
           mounted() {
         
           }
         }).mount('#app')
         
      </script>
   </body>
</html>

